# Secretos
.streamlit/secrets.toml

# Python
__pycache__/
*.pyc
*.pyo
.env
*.egg-info/
dist/
build/

# Jupyter checkpoints y documentos virtuales
.ipynb_checkpoints/
.virtual_documents/

# Archivos temporales de Office
~$*

# Anaconda
anaconda_projects/

# macOS
.DS_Store
